@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype"),
    url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.page-body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.container {
  box-sizing: content-box;
  max-width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.accent-color {
  color: #18cfab;
}

/* -------------NAVBAR----------------- */

.navbar {
  background: rgba(94, 93, 88, 0.6);
}

.navbar-wrap {
  height: 120px;
  display: grid;
  grid-template-columns: max-content 1fr min-content;
}

.link-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  align-self: center;
}

.img-logo-box {
  display: inline-block;
  margin-right: 6px;
  position: relative;
}

.img-logo-box::before {
  content: "H";
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.name-logo {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.name-logo .accent-color {
  font-weight: bold;
}

.list-menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: end;
  align-items: center;
  column-gap: 21px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 21px;
  align-items: center;
}

.item-menu {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.link-menu::before {
  content: "";
  bottom: 0px;
  position: absolute;
  width: 0;
  border-bottom: 3px solid #18cfab;
}

.link-menu:hover::before {
  content: "";
  width: 100%;
}

.link-menu:hover {
  color: #18cfab;
}

.link-menu {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-search-wrap {
  align-self: center;
  display: inline-block;
  position: relative;
}

.btn-search::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../img/icon_search_hover.png);
  background-repeat: no-repeat;
  z-index: 2;
}

.btn-search:hover::before {
  width: 22px;
  height: 21px;
}

/* -----------HEADER------------- */

.header {
  background: url(../img/bg-section-1_header.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.title-header {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.slogan-header {
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.subtitle-header {
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  text-align: center;
  color: #d4d4d4;
  margin-top: 0;
  margin-bottom: 130px;
}

.buttons-header-wrap {
  display: grid;
  grid-auto-flow: column;
  column-gap: 26px;
  justify-content: center;
  padding-bottom: 245px;
}

.button-header,
.button-purchase,
.button-load {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 170px;
  position: relative;
}
.button-header::before,
.button-purchase::before {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 15px solid #ffffff;
  border-radius: 4px;
  top: -5px;
  left: 0;
  z-index: -1;
  transition: border-color 0.4s ease;
}

.button-header:hover::before,
.button-purchase:hover::before {
  border-color: #bbbaba;
}

.btn-header-container {
  z-index: 0;
}

.btn-bg-green {
  background-color: #18cfab;
  transition: background-color 0.4s ease;
}

.btn-bg-green:hover {
  background: #12977d;
}

.btn-bg-blue {
  background: #00cbf6;
  transition: background-color 0.4s ease;
}

.btn-bg-blue:hover {
  background: #008fac;
}

/* ----------SECTION OPTIONS------------ */

.section-options {
  padding-top: 8px;
}

.list-options {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  /* grid-template-rows: max-content; */
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.item-option:nth-child(odd) {
  background-color: #1c2a33;

  color: #18cfab;
  padding-top: 90px;
}
.item-option:nth-child(even) {
  background-color: #18cfab;
  color: #ffffff;
  padding-top: 95px;
}

.item-option {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title-option {
  margin-top: 25px;
  margin-bottom: 0;
}

/* --------------SECTION SERVICES---------------- */

.section-services {
  padding: 90px 0;
}

.title-section {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto 100px;
  position: relative;
}

.title-section::before,
.title-section::after {
  content: "";
  position: absolute;
  background: #18cfab;
  width: 80px;
  height: 4px;
  left: 50%;
  top: 65px;
  transform: translate(-50%, -50%);
}

.title-section::after {
  left: calc(50% + 13px);
  top: 73px;
  transform: translate(-50%, -50%);
}

.tabs-services {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 28px;
}

.tabs-service-title {
  flex-basis: 100%;
  min-width: 150px;
  height: 72px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.tabs-service-title:hover {
  border: 1.5px solid #18cfab;
}

.tabs-service-title.active {
  background: #18cfab;
  color: #ffffff;
  border: none;
  position: relative;
}

.tabs-service-title.active::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #18cfab;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}

.list-services-content {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list-services-content img {
  float: left;
  margin-right: 10px;
}
.list-services-content p {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 90px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.item-service-content {
  list-style-type: none;
  display: inline-block;
}

/* -----------------SECTION PURCHASE---------- */

.section-purchase {
  background: url(../img/bg-section-2_purchase.jpg) no-repeat, center #000000a1;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  height: 100%;
  padding: 125px 0;
}

.slogan-section-purchase {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle-purchase {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  text-align: center;
  margin-bottom: 65px;
}

.btn-purchase-container {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}

/* ---------SECTION WORK---------- */

.section-work {
  background-color: #e9edef;
  padding: 95px 0;
}

.tabs-work {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 71px;
}

.tabs-work-title:first-child {
  padding-left: 28px;
  padding-right: 28px;
}

.tabs-work-title:not(:first-child) {
  border-left: none;
}

.tabs-work-title {
  flex: 0 0 auto;
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  padding: 14px 15px;
  cursor: pointer;
  text-align: center;
}

.tabs-work-title:first-child {
  padding-left: 28px;
  padding-right: 28px;
}

.tabs-work-title.active {
  color: #18cfab;
  border: 2px solid #18cfab;
}

.list-work {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-auto-rows: 206px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.item-work {
  display: flex;
  position: relative;
}

.item-work:hover .item-work-description {
  display: flex;
}
.item-work-description:hover {
  background-color: #e9edef;
}

.item-work-description {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #e9edef4d;
  transition: background-color 0.4s ease;
  border-top: 6px solid #18cfab;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-work-title {
  margin-top: 24px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #18cfab;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
}

.item-work-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8a8a8a;
  text-transform: capitalize;
}

.item-work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-load-container {
  padding-top: 80px;
  text-align: center;
}

.button-load > span {
  font-size: 14px;
  padding-left: 5px;
  line-height: 1px;
  vertical-align: middle;
}

.button-load > svg {
  vertical-align: text-bottom;
}

.button-load {
  align-items: center;
  text-align: center;
}

/* --------------SECTION NEWS----------------- */

.section-news {
  padding-top: 90px;
  padding-bottom: 130px;
}

.list-news {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-auto-rows: max-content;
  justify-content: center;
  row-gap: 40px;
  column-gap: 35px;
}

.item-news {
  display: inline-block;
}

.link-news {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.link-news:hover .title-news {
  color: #18cfab;
  transition: color 0.4s ease;
}

.link-news:hover .date-news {
  background: #18cfab;
  transition: background-color 0.4s ease;
}

.title-news {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  color: #717171;
  margin: 0;
  padding-left: 10px;
  text-transform: capitalize;
}

.user-comment,
.count-comment {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  margin: 0;
  display: inline-block;
}
.user-comment {
  padding-left: 10px;
}

.user-comment::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  color: #777777;
}

.date-news {
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background: #203e38;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* -----------SECTION FEEDBACK----------- */

.section-feedback {
  background: url(../img/bg-section-3_feedback.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 100px 0;
}

.white-title {
  color: #ffffff;
}

.feedback-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feedback-user-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.feedback-user-profession {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 40px;
}

.feedback-user-photo {
  border: 12px solid #1fdab534;
  border-radius: 50%;
}

.slider-nav-item > img {
  border: 6px solid #1fdab534;
  border-radius: 50%;
}

.slider .slick-track,
.slider-nav .slick-track {
  display: flex;
  align-items: flex-start;
}

.slider .slick-list,
.slider-nav .slick-list {
  overflow: hidden;
  text-align: center;
}

.slider-nav .slick-slide {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.slider-nav.slick-slider {
  max-width: 480px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 50px;
}

.slider-nav .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  transition: background-color 0.4s ease;
}

.slider-nav .slick-arrow:hover {
  color: #ffffff;
  background: #18cfab;
}

.slider-nav .slick-next {
  right: 0;
}

.slider-nav .slick-prev {
  left: 0;
}

.slider-nav .slick-current {
  position: relative;
  top: -10px;
}

/* -------------SECTION GALLERY------------ */

.section-gallery {
  padding-top: 100px;
  padding-bottom: 80px;
}

.inner-grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3px;
  grid-column: span 3;
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  justify-content: center;
  margin: 0 auto;
  gap: 3px;
}

.grid-item-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: block;
}

.grid-gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  width: 375px;
  margin-bottom: 15px;
}

.view-image {
  display: none;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.062);
  z-index: 1;
  transition: background-color 0.4s ease;
}

.view-image:hover {
  background-color: rgba(0, 0, 0, 0.64);
}

.btn-view-image {
  width: 27px;
  height: 25px;
  background: #14b9d5;
  border: none;
  margin-left: 20px;
}

.grid-inner-item {
  position: relative;
}

/* -------------loads---------------- */

.btn-wrap {
  position: relative;
  width: 100%;
}
.loads-work-box,
.loads-gallery-box {
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}
.loads {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
}
.loads div {
  width: 6px;
  height: 6px;
  background: #1bbd9c75;
  border-radius: 50%;
  position: absolute;
  animation: loads 1.2s linear infinite;
}
.loads div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.loads div:nth-child(2) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.loads div:nth-child(3) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.loads div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.loads div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.loads div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.loads div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.loads div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.loads div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.loads div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.loads div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.loads div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes loads {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
}

/* ------------FOOTER---------- */

.footer {
  background: #22353f;
  padding: 48px 0;
}

.copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  text-align: center;
  margin: 0;
}
